html, body {
}

.svg_container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    vertical-align: middle;
    overflow: hidden;
}

.svg_container svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.daily_demand {
    height: 120px;
    margin: 20px auto 0 auto;
}

.daily_demand span {
    height: 100px;
    float: left;
    margin: 0 4px;
}

.daily_demand span span {
    font-size: 8px;
    position: relative;
    left: -5px;
    top: -20px;
}