<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BP2013H1 - Simulation</title>

    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="./static/css/basic.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Simulation page -->
    <div class="container" id="home">
      <div class="page-header">
        <h1>Simulation</h1>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#scheme_container">
                    Scheme
                  </a>
                </h4>
              </div>
              <div id="scheme_container" class="panel-collapse collapse out">
                <div class="panel-body">
                  <div id="simulation_scheme" class="svg_container"></div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#diagram_container">
                    Diagram
                  </a>
                </h4>
              </div>
              <div id="diagram_container" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div id="simulation_diagram"></div>
                  <form id="settings">
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">Average Thermal Demand</label>
                          <input type="text" id="form_average_thermal_demand" name="average_thermal_demand" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="control-label">Varying Thermal Demand</label>
                          <input type="text" id="form_varying_thermal_demand" name="varying_thermal_demand" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="control-label">Thermal Demand Noise</label>
                          <input type="text" id="form_thermal_demand_noise" name="thermal_demand_noise" class="form-control">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">HS Capacity</label>
                          <input type="text" id="form_hs_capacity" name="hs_capacity" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="control-label">HS Target Energy</label>
                          <input type="text" id="form_hs_target_energy" name="hs_target_energy" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="control-label">HS Undersupplied Threshold</label>
                          <input type="text" id="form_hs_undersupplied_threshold" name="hs_undersupplied_threshold" class="form-control">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">BHKW's Max Gas Input</label>
                          <input type="text" id="form_bhkw_max_gas_input" name="bhkw_max_gas_input" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="control-label">BHKW's Minimal Workload</label>
                          <input type="text" id="form_bhkw_minimal_workload" name="bhkw_minimal_workload" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="control-label">BHKW Noise</label>
                          <input type="text" id="form_bhkw_noise" name="bhkw_noise" class="form-control">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="control-label">PLB's Max Gas Input</label>
                          <input type="text" id="form_plb_max_gas_input" name="plb_max_gas_input" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="control-label">Forward Simulation</label>
                          <input type="text" id="form_sim_forward" name="sim_forward" class="form-control" placeholder="12 (in hours)">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <button type="submit" id="settings_button" class="btn btn-primary btn-block">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Footer -->
    <div id="footer" class="collapse">
      <div class="container">
        <p class="text-muted credit">Copyright &copy; BP2013H1</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./static/js/jquery-1.10.2.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>

    <script src="./static/js/hs/highstock.js"></script>
    <script src="./static/js/hs/modules/no-data-to-display.js"></script>
    <script src="./static/js/hs/modules/exporting.js"></script>

    <script src="./static/js/ready.js"></script>
  </body>
</html>
