html, body, img {
	padding: 0;
	margin: 0;
}

body {
	font-family: "HelveticaNeue-Light", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
	color: #666;
	background-color: #efeff4;
}

a {
	color: #157dfb;
}

#main {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

#navigation {
	font-family: "HelveticaNeue-Medium", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 22px;
	padding: 14px 10px;
	text-align: center;
	border-bottom: 1px solid #b2b2b2;
	background-color: #f9f9f9;
	color: #000;
}

input {
	font-family: "HelveticaNeue-Light", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 20px;
	border: 0;
	height: 62px;
	padding: 0;
}

input[type="submit"] {
	font-size: 20px;
	color: #157dfb;
	background-color: transparent;
}

input[type="checkbox"] {
	width: 53px;
	height: 52px;
	background: url('../images/off.png');
	background-size: 53px 52px;
	-webkit-appearance: none;
	border: 0;
	margin: 0;
}
input[type="checkbox"]:checked {
	background: url('../images/on.png');
	background-size: 53px 52px;
}


.item, #custom {
	padding: 4px 10px 0 10px;
	background-color: #fff;
	border-bottom: 1px solid #c8c8c8;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.spacer {
	font-family: "HelveticaNeue-Medium", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	background-color: #efeff4;
	color: #4f4f4f;
	font-size: 18px;
	border-bottom: 1px solid #c8c8c8;
	padding: 24px 10px 4px 10px;
}

#footer {
	padding-top: 20px;
	text-align: center;
	color: #929292;
	font-size: 12px;
}

.text {
	padding: 14px 10px 0 10px;
}