<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Power System Simulation</title>

    <!-- Bootstrap core CSS -->
    <link href="./static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap-Wizard -->
    <link href="./static/libs/bootstrap-wizard/bootstrap-wizard.css" rel="stylesheet">
     <!-- jQuery UI CSS core CSS -->
    <link rel="stylesheet" href="./static/libs/jquery-ui/css/jquery-ui.min.css">
    <link rel="stylesheet" href="./static/libs/jquery-ui/css/jquery.ui.slider.min.css">

    <!-- Custom styles -->
    <link href="./static/css/basic.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <!-- Wizard -->
    <div class="wizard" id="startup" data-title="Setup Energy Management System">
      <div class="wizard-card" data-cardname="card1">
        <h3>General</h3>
        <div class="wizard-input-section">
          <div class="form-group">
            <div class="col-sm-6">
              <label class="control-label" for="wizard_apartments">Number of Housing Apartments</label>
              <input type="text" class="form-control input-sm" id="wizard_apartments" name="apartments" value="12">

              <label class="control-label" for="wizard_avg_rooms_per_apartment">Average Rooms per Apartment</label>
              <input type="text" class="form-control input-sm" id="wizard_avg_rooms_per_apartment" name="avg_rooms_per_apartment" value="4">

              <label class="control-label" for="wizard_apartments">Number of Residents</label>
              <input type="text" class="form-control input-sm" id="wizard_residents" name="residents" value="22">

              <label class="control-label" for="wizard_apartments">Avg. Thermal Consumption per Year</label>
              <div class="input-group">
                <input type="text" class="form-control input-sm" id="wizard_avg_thermal_consumption" name="avg_thermal_consumption" value="0">
                <span class="input-group-addon">kWh</span>
              </div>          


              <label class="control-label" for="wizard_apartments">Type of Housing</label>
              <select id="wizard_type_of_housing" name="type_of_housing" class="form-control input-sm">
                <option value="">New Building</option>
                <option value="">Old Building</option>
              </select>

              <label class="control-label" for="wizard_location">Location</label>
              <input type="text" class="form-control input-sm" id="wizard_location"  name="location"value="Berlin">

            </div>
            <div class="col-sm-6">
              <label class="control-label" for="wizard_avg_windows_per_room">Avg. Windows per Room</label>
              <input type="text" class="form-control input-sm" id="wizard_avg_windows_per_room"  name="avg_windows_per_room" value="4">

              <label class="control-label" for="wizard_total_heated_floor">Total Heated Living Area</label>
              <div class="input-group">
                <input type="text" class="form-control input-sm" id="wizard_total_heated_floor" name="total_heated_floor" value="650">
                <span class="input-group-addon">m²</span>
              </div>          


              <label class="control-label" for="wizard_type_of_residents">Type of Residents</label>
              <select id="wizard_type_of_residents" name="type_of_residents" class="form-control input-sm">
                <option value="">Mixed</option>
                <option value="">Young</option>
                <option value="">Old</option>
              </select>

              <label class="control-label" for="wizard_avg_electrical_consumption">Average Electrical Consumption per Year</label>
              <div class="input-group">
                <input type="text" class="form-control input-sm" id="wizard_avg_electrical_consumption" name="avg_electrical_consumption" value="0">
                <span class="input-group-addon">kWh</span>
              </div>

              <label class="control-label" for="wizard_type_of_windows">Type of Windows</label>
              <select id="wizard_type_of_windows" name="type_of_windows" class="form-control input-sm">
                <option value="">Single Glazing</option>
                <option value="">Double Glazing</option>
                <option value="">XP</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="wizard-card" data-cardname="card2">
        <h3>Pricing</h3>
        <div class="wizard-input-section">
          <div class="form-group">
            <div class="col-sm-6">
              <label class="control-label" for="wizard_gas_costs">Gas Costs per kWh</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_gas_costs" name="gas_costs" value="0.0655">
                <span class="input-group-addon">€</span>
              </div>

              <label class="control-label" for="wizard_feed_in_reward">Feed In Reward per kWh</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_feed_in_reward" name="feed_in_reward" value="0.0917">
                <span class="input-group-addon">€</span>
              </div>
            </div>

            <div class="col-sm-6">
              <label class="control-label" for="wizard_electrical_costs">Electrical Costs per kWh</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_electrical_costs" name="electrical_costs" value="0.283">
                <span class="input-group-addon">€</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wizard-card" data-cardname="card3">
        <h3>Cogeneration Unit</h3>
        <div class="wizard-input-section">
          <div class="form-group">
            <div class="col-sm-6">

              <label class="control-label" for="wizard_cu_max_gas_input">Power</label>
              <div class="input-group">
                <input type="text" class="form-control"id="wizard_cu_max_gas_input" name="cu_max_gas_input" value="19.0">
                <span class="input-group-addon">€</span>
              </div>

              <label class="control-label" for="wizard_cu_thermal_efficiency">Thermal Efficiency</label>
              <input type="text" class="form-control" id="wizard_cu_thermal_efficiency" name="cu_thermal_efficiency" value="0.65">

              <label class="control-label" for="wizard_cu_maintenance_interval">Maintenance Interval (Time)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_cu_maintenance_interval" name="cu_maintenance_interval" value="8000">
                <span class="input-group-addon">h</span>
              </div>
              
              <label class="control-label" for="wizard_cu_purchase_date">Date of Purchase</label>
              <input type="text" class="form-control" id="wizard_cu_purchase_date" name="cu_purchase_date" value="01.01.2013">
            </div>
            <div class="col-sm-6">
              <label class="control-label" for="wizard_cu_minimal_workload">Minimal Workload</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_cu_minimal_workload" name="cu_minimal_workload" value="19.0">
                <span class="input-group-addon">%</span>
              </div>

              <label class="control-label" for="wizard_cu_electrical_efficiency">Electrical Efficiency</label>
              <input type="text" class="form-control" id="wizard_cu_electrical_efficiency" name="cu_electrical_efficiency" value="0.247">


              <label class="control-label" for="wizard_cu_maintenance_interval">Maintenance Interval (Power-Ons)</label>
              <input type="text" class="form-control" id="wizard_cu_maintenance_interval" name="cu_maintenance_interval" value="2000">

              <label class="control-label" for="wizard_cu_purchase_price">Purchase Price</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_cu_purchase_price" name="cu_purchase_price" value="15000">
                <span class="input-group-addon">€</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="wizard-card" data-cardname="card4">
        <h3>Peak Load Boiler</h3>
        <div class="wizard-input-section">
          <div class="form-group">
            <div class="col-sm-6">
              <label class="control-label" for="wizard_plb_max_gas_input">Power</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_plb_max_gas_input" name="plb_max_gas_input" value="19.0">
                <span class="input-group-addon">m³</span>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="control-label" for="wizard_plb_thermal_efficiency">Thermal Efficiency</label>
              <input type="text" class="form-control" id="wizard_plb_thermal_efficiency" name="plb_thermal_efficiency" value="0.65">
            </div>
          </div>
        </div>
      </div>

      <div class="wizard-card" data-cardname="card5">
        <h3>Heat Storage</h3>
        <div class="wizard-input-section">
          <div class="form-group">
            <div class="col-sm-6">
              <label class="control-label" for="wizard_hs_capacity">Capacity</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_hs_capacity" name="hs_capacity" value="25000">
                <span class="input-group-addon">m³</span>
              </div>
              
              <label class="control-label" for="wizard_hs_min_temperature">Minimal Temperature</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_hs_min_temperature" name="hs_min_temperature" value="55.0">
                <span class="input-group-addon">°C</span>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="control-label" for="wizard_hs_target_temperature">Target Temperature</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_hs_target_temperature" name="hs_target_temperature" value="70.0">
                <span class="input-group-addon">°C</span>
              </div>

              <label class="control-label" for="wizard_hs_critical_temperature">Critical Temperature</label>
              <div class="input-group">
                <input type="text" class="form-control" id="wizard_hs_critical_temperature" name="hs_critical_temperature" value="90.0">
                <span class="input-group-addon">°C</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Simulation page -->
    <div class="container">
      <h2>Power System Simulation</h2>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#diagram_container">
                    Live Diagram
                  </a>
                  <a href="#" title="Toggle Auto-Refresh" id="pause_refresh">
                    <span class="glyphicon glyphicon-refresh pull-right"></span>
                  </a>
                </h4>
              </div>
              <div id="diagram_container" class="panel-collapse collapse in">
                <div class="panel-body text-center">
                  <div id="simulation_diagram"></div>
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default fast_forward_button" value="12">+ 12 Hours</button>
                    <button type="button" class="btn btn-default fast_forward_button" value="24">+ 1 Day</button>
                    <button type="button" class="btn btn-default fast_forward_button" value="168">+ 1 Week</button>
                    <button type="button" class="btn btn-default fast_forward_button" value="720">+ 1 Month</button>
                    <button type="button" class="btn btn-default fast_forward_button" value="4320">+ 6 Months</button>
                    <button type="button" class="btn btn-default fast_forward_button" value="8760">+ 1 Year</button>
                  </div>
                  <div class="btn-group btn-group-sm">
                    <button id="reset_simulation" type="button" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span> Restart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#data_container">
                    Live Data
                  </a>
                </h4>
              </div>
              <div id="data_container" class="panel-collapse collapse">
                <div class="panel-body">
                  <h4>Current Date: <span id="live_data_time"></span></h4>
                  <div class="row">
                    <div class="col-sm-4">
                      <h5>Consumption & Production</h5>
                      <table class="table table-bordered table-condensed small">
                        <tbody>
                          <tr>
                            <th class="active col-md-7">Total Thermal Consumption:</th>
                            <td class="text-center">
                              <span class="total_thermal_consumption"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Electrical Consumption:</th>
                            <td class="text-center">
                              <span class="total_electrical_consumption"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Electrical Infeed Reward:</th>
                            <td class="text-center">
                              <span class="infeed_reward"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Electrical Infeed Costs:</th>
                            <td class="text-center">
                              <span class="infeed_costs"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    <h5>Total Costs</h5>
                      <table class="table table-bordered table-condensed small">
                        <tbody>
                          <tr>
                            <th class="active col-md-7">Total Bilance:</th>
                            <td class="text-center">
                              <span class="total_bilance"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-4">
                      <h5>Cogeneration Unit</h5>
                      <table class="table table-bordered table-condensed small">
                        <tbody>
                          <tr>
                            <th class="active col-md-7">Operating Costs:</th>
                            <td class="text-center">
                              <span class="cu_operating_costs"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Electrical Production:</th>
                            <td class="text-center">
                              <span class="cu_total_electrical_production"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Thermal Production:</th>
                            <td class="text-center">
                              <span class="cu_total_thermal_production"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Gas Consumption:</th>
                            <td class="text-center">
                              <span class="cu_total_gas_consumption"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Power-Ons:</th>
                            <td class="text-center">
                              <span class="cu_power_ons"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Hours:</th>
                            <td class="text-center">
                              <span class="cu_total_hours_of_operation"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-4">
                      <h5>Peak Load Boiler</h5>
                      <table class="table table-bordered table-condensed small">
                        <tbody>
                          <tr>
                            <th class="active col-md-7">Operating Costs:</th>
                            <td class="text-center">
                              <span class="plb_operating_costs"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Gas Consumption:</th>
                            <td class="text-center">
                              <span class="plb_total_gas_consumption"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Power-Ons:</th>
                            <td class="text-center">
                              <span class="plb_power_ons"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Hours:</th>
                            <td class="text-center">
                              <span class="plb_total_hours_of_operation"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5>Heat Storage</h5>
                      <table class="table table-bordered table-condensed small">
                        <tbody>
                          <tr>
                            <th class="active col-md-7">Total Input:</th>
                            <td class="text-center">
                              <span class="hs_total_input"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Output:</th>
                            <td class="text-center">
                              <span class="hs_total_output"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Empty Count:</th>
                            <td class="text-center">
                              <span class="hs_empty_count"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <hr />
                  <h4>Date of Prediction: <span id="live_data_time_predicted"></span></h4>
                  <div class="row">
                    <div class="col-sm-4">
                      <h5>Consumption & Production</h5>
                      <table class="table table-bordered table-condensed small">
                        <tbody>
                          <tr>
                            <th class="active col-md-7">Total Thermal Consumption:</th>
                            <td class="text-center">
                              <span class="total_thermal_consumption_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Electrical Consumption:</th>
                            <td class="text-center">
                              <span class="total_electrical_consumption_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Electrical Infeed Reward:</th>
                            <td class="text-center">
                              <span class="infeed_reward_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Electrical Infeed Costs:</th>
                            <td class="text-center">
                              <span class="infeed_costs_predicted"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    <h5>Total Costs</h5>
                      <table class="table table-bordered table-condensed small">
                        <tbody>
                          <tr>
                            <th class="active col-md-7">Total Bilance:</th>
                            <td class="text-center">
                              <span class="total_bilance_predicted"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-4">
                      <h5>Cogeneration Unit</h5>
                      <table class="table table-bordered table-condensed small">
                        <tbody>
                          <tr>
                            <th class="active col-md-7">Operating Costs:</th>
                            <td class="text-center">
                              <span class="cu_operating_costs_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Electrical Production:</th>
                            <td class="text-center">
                              <span class="cu_total_electrical_production_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Thermal Production:</th>
                            <td class="text-center">
                              <span class="cu_total_thermal_production_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Gas Consumption:</th>
                            <td class="text-center">
                              <span class="cu_total_gas_consumption_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Power-Ons:</th>
                            <td class="text-center">
                              <span class="cu_power_ons_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Hours:</th>
                            <td class="text-center">
                              <span class="cu_total_hours_of_operation_predicted"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-sm-4">
                      <h5>Peak Load Boiler</h5>
                      <table class="table table-bordered table-condensed small">
                        <tbody>
                          <tr>
                            <th class="active col-md-7">Operating Costs:</th>
                            <td class="text-center">
                              <span class="plb_operating_costs_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Gas Consumption:</th>
                            <td class="text-center">
                              <span class="plb_total_gas_consumption_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Power-Ons:</th>
                            <td class="text-center">
                              <span class="plb_power_ons_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Hours:</th>
                            <td class="text-center">
                              <span class="plb_total_hours_of_operation_predicted"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5>Heat Storage</h5>
                      <table class="table table-bordered table-condensed small">
                        <tbody>
                          <tr>
                            <th class="active col-md-7">Total Input:</th>
                            <td class="text-center">
                              <span class="hs_total_inpu_predictedt"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Total Output:</th>
                            <td class="text-center">
                              <span class="hs_total_output_predicted"></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="active">Empty Count:</th>
                            <td class="text-center">
                              <span class="hs_empty_count_predicted"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <form id="export_data" class="form-inline" role="form">
                      <div class="form-group">
                        <input type="text" class="form-control" id="export_name" placeholder="export.json" required>
                      </div>
                      <button type="submit" class="btn btn-primary">Export</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#settings_panel">
                    Settings
                  </a>
                </h4>
              </div>
              <div id="settings_panel" class="panel-collapse collapse">
                <div class="panel-body">
                  <form id="settings" class="form-horizontal" role="form">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#cogeneration_unit" data-toggle="tab">Cogeneration Unit</a></li>
                      <li><a href="#heat_storage" data-toggle="tab">Heat Storage</a></li>
                      <li><a href="#peak_load_boiler" data-toggle="tab">Peak Load Boiler</a></li>
                      <li><a href="#thermal_consumer" data-toggle="tab">Thermal Consumer</a></li>
                      <li><a href="#electrical_consumer" data-toggle="tab">Electrical Consumer</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane fade in active" id="cogeneration_unit">
                        <p>
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="control-label col-lg-6 small">Max Input</label>
                                <div class="col-lg-6">
                                  <div class="input-group">
                                    <input type="number" step="0.1" id="form_cu_max_gas_input" name="cu_max_gas_input" class="form-control input-sm">
                                    <span class="input-group-addon">kW</span>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="control-label col-lg-6 small">Mode</label>
                                <div class="col-lg-6">
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="cu_mode" id="cu_mode_thermal_driven" value="thermal_driven">
                                      Thermal-Led
                                    </label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="cu_mode" id="cu_mode_electrical_driven" value="electrical_driven">
                                      Electric-Led
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="control-label col-lg-6 small">Min Workload</label>
                                <div class="col-lg-6">
                                  <div class="input-group">
                                    <input type="number" step="0.1" id="form_cu_minimal_workload" name="cu_minimal_workload" class="form-control input-sm">
                                    <span class="input-group-addon">%</span>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="control-label col-lg-6 small">Electric-Led Min. Prod.</label>
                                <div class="col-lg-6">
                                  <div class="input-group">
                                    <input type="number" step="0.1" id="form_cu_electrical_driven_minimal_production" name="cu_electrical_driven_minimal_production" class="form-control input-sm">
                                    <span class="input-group-addon">kWh</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="control-label col-lg-6 small">Electric Eff.</label>
                                <div class="col-lg-6">
                                  <div class="input-group">
                                    <input type="number" step="0.1" id="form_cu_electrical_efficiency" name="cu_electrical_efficiency" class="form-control input-sm">
                                    <span class="input-group-addon">%</span>
                                  </div>
                                </div>
                              </div>
                               <div class="form-group">
                                <label class="control-label col-lg-6 small">Thermal Eff.</label>
                                <div class="col-lg-6">
                                  <div class="input-group">
                                    <input type="number" step="0.1" id="form_cu_thermal_efficiency" name="cu_thermal_efficiency" class="form-control input-sm">
                                    <span class="input-group-addon">%</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        <p>
                      </div>
                      <div class="tab-pane fade" id="heat_storage">
                        <p>
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="control-label col-lg-6 small">HS Capacity</label>
                                <div class="col-lg-6">
                                  <div class="input-group">
                                    <input type="number" step="0.1" id="form_hs_capacity" name="hs_capacity" class="form-control input-sm">
                                    <span class="input-group-addon">L</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="control-label col-lg-6 small">HS Min Temperature</label>
                                <div class="col-lg-6">
                                  <div class="input-group">
                                    <input type="number" step="0.1" id="form_hs_min_temperature" name="hs_min_temperature" class="form-control input-sm">
                                    <span class="input-group-addon">°C</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="control-label col-lg-6 small">HS Max Temperature</label>
                                <div class="col-lg-6">
                                  <div class="input-group">
                                    <input type="number" step="0.1" id="form_hs_target_temperature" name="hs_target_temperature" class="form-control input-sm">
                                    <span class="input-group-addon">°C</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </p>
                      </div>
                      <div class="tab-pane fade" id="peak_load_boiler">
                        <p>
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label class="control-label col-lg-6 small">Max Input</label>
                                <div class="col-lg-6">
                                  <div class="input-group">
                                    <input type="number" step="0.1" id="form_plb_max_gas_input" name="plb_max_gas_input" class="form-control input-sm">
                                    <span class="input-group-addon">kW</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </p>
                      </div>
                      <div class="tab-pane fade" id="thermal_consumer">
                        <p>
                          <div class="row">
                            <div class="col-lg-6">
                              <label class="control-label small">Daily Thermal Demand <span id="daily_thermal_demand_info" class="bg-success"></span></label>
                              <div id="daily_thermal_demand" class="daily_demand"></div>
                            </div>
                          </div>
                        </p>
                      </div>
                      <div class="tab-pane fade" id="electrical_consumer">
                        <p>
                          <div class="row">
                            <div class="col-lg-6">
                              <label class="control-label small">Daily Electrical Variation <span id="daily_electrical_variation_info" class="bg-success"></span></label>
                              <div id="daily_electrical_variation" class="daily_demand"></div>
                            </div>
                          </div>
                        </p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12">
                        <button type="submit" id="settings_button" class="btn btn-primary btn-block">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#editor_container">
                    Code Editor
                    <span class="badge badge-success pull-right code_execution_status">OK</span>
                  </a>
                </h4>
              </div>
              <div id="editor_container" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <button type="submit" id="editor_button" class="btn btn-primary btn-block">Apply</button>
                    </div>
                    <div class="col-lg-6">
                      <button type="submit" id="editor_simulate_button" class="btn btn-warning btn-block">Simulate</button>
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-lg-12">
                      <pre id="editor"></pre>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-5">
                      <p>
                        <form id="save_snippet" class="form-inline" role="form">
                          <div class="form-group">
                            <input type="text" class="form-control" id="snippet_name" placeholder="snippet.py" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                      </p>
                    </div>
                    <div class="col-lg-2 text-center">
                      <p>
                        <form id="save_snippet" class="form-inline" role="form">
                          <input type="password" class="form-control" id="password" placeholder="Password" required>
                        </form>
                      </p>
                    </div>
                    <div class="col-lg-5 text-right">
                      <p>
                        <form id="load_snippet" class="form-inline" role="form">
                          <div class="form-group">
                            <select class="form-control" id="snippets"></select>
                          </div>
                          <button type="submit" class="btn btn-primary">Load</button>
                        </form>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#setup_container">
                    Live Setup
                  </a>
                </h4>
              </div>
              <div id="setup_container" class="panel-collapse collapse">
                <div class="panel-body">
                  <div id="simulation_setup" class="svg_container"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./static/libs/jquery/jquery.min.js"></script>
    <script src="./static/libs/jquery-ui/js/jquery.ui.core.min.js"></script>
    <script src="./static/libs/jquery-ui/js/jquery.ui.widget.min.js"></script>
    <script src="./static/libs/jquery-ui/js/jquery.ui.mouse.min.js"></script>
    <script src="./static/libs/jquery-ui/js/jquery.ui.slider.min.js"></script>
    <script src="./static/libs/jquery-dateFormat/jquery-dateFormat.min.js"></script>
    <script src="./static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="./static/libs/bootstrap-wizard/bootstrap-wizard.js"></script>

    <script src="./static/libs/highstock/highstock.js"></script>
    <script src="./static/libs/highstock/modules/no-data-to-display.js"></script>
    <script src="./static/libs/highstock/modules/exporting.js"></script>

    <script src="./static/libs/ace/ace.js"></script>
    <script src="./static/libs/ace/ext-language_tools.js"></script>

    <script src="./static/js/helpers.js"></script>
    <script src="./static/js/systems_units.js"></script>
    <script src="./static/js/snippets.js"></script>
    <script src="./static/js/series.js"></script>
    <script src="./static/js/refresh.js"></script>
    <script src="./static/js/ready.js"></script>
  </body>
</html>
