<div class="page-header">
  <div class="row">
    <div class="col-sm-8">
        <h1>{{title}}</h1>
    </div>
    <div class="col-sm-4">
        <br>
        <div class="row">
            <div class="col-sm-6">
                <select id="balances_selected_month" class="form-control">
                </select>
            </div>
            <div class="col-sm-6">
                <select id="balances_selected_year" class="form-control">
                </select>
            </div>
        </div>
    </div>
</div>
</div>
<table id="balances_table_container" class="table">
  <thead>
    <tr>
      <th>{{description}}</th>
      <th>{{price_per_unit}}</th>
      <th>{{amount}}</th>
      <th>{{price}} <a href="#" id="export_button"><span class="glyphicon glyphicon-export pull-right"></span></a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4"></td>
    </tr>
    <tr class="success">
      <td style="padding-left: 20px">{{thermal_revenues.text}}</td>
      <td>{{thermal_revenues.price}} €</td>
      <td>{{thermal_revenues.value}} kWh</td>
      <td>{{thermal_revenues.total}} €</td>
    </tr>
    <tr class="success">
      <td style="padding-left: 20px">{{warmwater_revenues.text}}</td>
      <td>{{warmwater_revenues.price}} €</td>
      <td>{{warmwater_revenues.value}} kWh</td>
      <td>{{warmwater_revenues.total}} €</td>
    </tr>
    <tr class="success">
      <td style="padding-left: 20px">{{electrical_revenues.text}}</td>
      <td>{{electrical_revenues.price}} €</td>
      <td>{{electrical_revenues.value}} kWh</td>
      <td>{{electrical_revenues.total}} €</td>
    </tr>
    <tr class="success">
      <td style="padding-left: 20px">{{electrical_infeed.text}}</td>
      <td>{{electrical_infeed.price}} €</td>
      <td>{{electrical_infeed.value}} kWh</td>
      <td>{{electrical_infeed.total}} €</td>
    </tr>
    <tr>
      <td colspan="4"></td>
    </tr>
    <tr class="danger">
      <td style="padding-left: 20px">{{gas_consumption.text}}</td>
      <td>{{gas_consumption.price}} €</td>
      <td>{{gas_consumption.value}} kWh</td>
      <td>{{gas_consumption.total}} €</td>
    </tr>
    <tr class="danger">
      <td style="padding-left: 20px">{{electrical_purchase.text}}</td>
      <td>{{electrical_purchase.price}} €</td>
      <td>{{electrical_purchase.value}} kWh</td>
      <td>{{electrical_purchase.total}} €</td>
    </tr>
    <tr>
      <td colspan="4"></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><b>{{revenues}}</b></td>
      <td>{{rewards}} €</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><b>{{costs}}</b></td>
      <td>{{costs}} €</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><b>Total</b></td>
      <td><b>{{balance}} €</b></td>
    </tr>
  </tbody>
</table>
