<div class="manager">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Balances</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-12 text-right">
              <div id="diagram_filters" class="btn-group btn-group-sm" data-toggle="buttons"></div>
            </div>
          </div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#balances_container" data-toggle="tab">Monthly Balance</a></li>
            <li><a href="#rewards_container" data-toggle="tab">Monthly Rewards</a></li>
            <li><a href="#costs_container" data-toggle="tab">Monthly Costs</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="balances_container"></div>
            <div class="tab-pane" id="rewards_container"></div>
            <div class="tab-pane" id="costs_container"></div>
          </div>
          <br>
          <div id="notice_container"><div class="alert alert-info">Click on a bar in the diagram to show detailed information below!</div></div>
          <div id="details_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>