<div class="manager">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{balances}}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-12 text-right">
              <div id="balances_diagram_filters" class="btn-group btn-group-sm" data-toggle="buttons"></div>
            </div>
          </div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" id="balances_tabs">
            <li class="active"><a href="#balances_balances_container" data-toggle="tab">{{monthly_balance}}</a></li>
            <li><a href="#balances_rewards_container" data-toggle="tab">{{monthly_rewards}}</a></li>
            <li><a href="#balances_costs_container" data-toggle="tab">{{monthly_costs}}</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="balances_balances_container"></div>
            <div class="tab-pane" id="balances_rewards_container"></div>
            <div class="tab-pane" id="balances_costs_container"></div>
          </div>
          <br>
          <div id="balances_notice_container"><div class="alert alert-info">{{balances_notice}}</div></div>
          <div id="balances_details_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
