<div class="manager">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Thermal Load Curves</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div id="thermal_container"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Warmwater Load Curves</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div id="warmwater_container"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Electrical Load Curves</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div id="electrical_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>