<div class="technician manager">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{thermal_load_curves}}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div id="thermal_container"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{warmwater_load_curves}}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div id="warmwater_container"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{electrical_load_curves}}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div id="electrical_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
