<div class="technician manager">
  <form id="login_form" role="form">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <h2>{{login_notice}}</h2>
        <div class="form-group">
          <input type="text" class="form-control" id="login_username" placeholder="{{username}}">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="login_password" placeholder="{{password}}">
        </div>
        <button type="submit" id="login_button" class="btn btn-primary btn-block">{{login_button}}</button>
      </div>
    </div>
  </form>
</div>