<div class="technician">
    <ul class="nav navbar-nav">
        <li><a href="overview">Overview</a></li>
        <li><a href="statistics">Statistics</a></li>
        <li><a href="notifications">Notifications</a></li>
        <li><a href="live_setup">Live Setup</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="thresholds"><span class="glyphicon glyphicon-tasks" title="Thresholds"></span></a></li>
        <li><a href="settings"><span class="glyphicon glyphicon-cog" title="Settings"></span></a></li>
        <li id="logout_button"><a href="logout"><span class="glyphicon glyphicon-log-out" title="Logout"></span></a></li>
    </ul>
</div>

<div class="manager">
    <ul class="nav navbar-nav">
        <li><a href="overview">Overview</a></li>
        <li><a href="balances">Balances</a></li>
        <li><a href="load_curves">Load Curves</a></li>
        <li><a href="statistics">Statistics</a></li>
        <li><a href="notifications">Notifications</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="settings"><span class="glyphicon glyphicon-cog" title="Settings"></span></a></li>
        <li id="logout_button"><a href="logout"><span class="glyphicon glyphicon-log-out" title="Logout"></span></a></li>
    </ul>
</div>