<div class="technician manager">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Notification History</h4>
    </div>
    <div class="panel-body">
      <table class="table" id="notification_list">
        <thead>
          <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="row text-center">
        <div class="col-sm-12" id="notification_pagination"></div>
      </div>
    </div>
  </div>
</div>