<div class="technician manager">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{notification_history}}</h4>
    </div>
    <div class="panel-body" id="notification_list">
      <div class="row text-center">
        <div class="col-sm-12" id="notification_pagination"></div>
      </div>
    </div>
  </div>
</div>

<div class="technician">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{threshold_list}}</h4>
    </div>
    <div class="panel-body" id="threshold_list"></div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{add_new_threshold}}</h4>
    </div>
    <div class="panel-body">

      <form id="add_threshold_form" class="form" role="form">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
                <input type="text" class="form-control" name="threshold_name" placeholder="{{threshold_enter_name}}" required="required">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
                <select id="sensor_list" name="sensor_id" class="form-control" required="required">
                  <option value="">{{sensor_type}}</option></select>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
                <input type="text" class="form-control" name="min_value" placeholder="{{threshold_min}}">
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
                <input type="text" class="form-control" name="max_value" placeholder="{{threshold_max}}">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
                <select name="category" class="form-control" required="required">
                  <option value="">{{threshold_select_type}}</option>
                  <option value="0">{{bootstrap_default}}</option>
                  <option value="1">{{bootstrap_primary}}</option>
                  <option value="2">{{bootstrap_success}}</option>
                  <option value="3">{{bootstrap_info}}</option>
                  <option value="4">{{bootstrap_warning}}</option>
                  <option value="5">{{bootstrap_danger}}</option>
                </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
                <select name="show_manager" class="form-control">
                  <option value="0">{{threshold_technicians_only}}</option>
                  <option value="1">{{threshold_technicians_and_managers}}</option>
                </select>
            </div>
          </div>
          <div class="col-sm-1">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{add}}</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
