<div class="technician manager">
  <div id="panels">
    <div class="panel panel-default" id="general_panel">
      <div class="panel-heading">
        <h4 class="panel-title">{{general}}</h4>
      </div>
      <div class="panel-body"></div>
    </div>
    <div class="panel panel-default" id="hs_panel">
      <div class="panel-heading">
        <h4 class="panel-title">{{heat_storage}}</h4>
      </div>
      <div class="panel-body"></div>
    </div>
    <div class="panel panel-default" id="cu_panel">
      <div class="panel-heading">
        <h4 class="panel-title">{{cogeneration_unit}}</h4>
      </div>
      <div class="panel-body"></div>
    </div>
    <div class="panel panel-default" id="plb_panel">
      <div class="panel-heading">
        <h4 class="panel-title">{{peak_load_boiler}}</h4>
      </div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>
