<div class="technician manager">
  <div id="panels">
    <div class="panel panel-default" id="general_panel">
      <div class="panel-heading">
        <h4 class="panel-title">General</h4>
      </div>
      <div class="panel-body"></div>
    </div>
    <div class="panel panel-default" id="hs_panel">
      <div class="panel-heading">
        <h4 class="panel-title">Heat Storage</h4>
      </div>
      <div class="panel-body"></div>
    </div>
    <div class="panel panel-default" id="cu_panel">
      <div class="panel-heading">
        <h4 class="panel-title">Cogeneration Unit</h4>
      </div>
      <div class="panel-body"></div>
    </div>
    <div class="panel panel-default" id="plb_panel">
      <div class="panel-heading">
        <h4 class="panel-title">Peak Load Boiler</h4>
      </div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>