<div id="snippet_settings_plain">
    <div class="col-lg-4 col-sm-6">
        <div class="row">
            <div class="col-xs-9">
                <b>{{name}}</b>:
            </div>
            <div class="col-xs-3 text-right">
                {{#device}}<a href="#" class="setting_input" data-name="{{id}}" data-type="{{datatype}}" data-title="{{title}}" data-pk="{{key}}" data-device="{{device}}" data-unit="{{unit}}" data-type2="{{type}}">{{/device}}{{value}}{{#device}}</a>{{/device}} {{unit}}
            </div>
        </div>
    </div>
</div>

<div id="snippet_settings_input">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="{{id}}">{{name}}</label>
            <!--{{#unit}}-->
            <div class="input-group">
                <input type="text" class="configuration form-control" id="{{id}}" data-device="{{device}}" data-key="{{key}}" data-type="{{type}}" data-unit="{{unit}}" value="{{value}}">
                <span class="input-group-addon">{{unit}}</span>
            </div>
            <!--{{/unit}}-->
            <!--{{^unit}}-->
            <input type="text" class="configuration form-control" id="{{id}}" data-device="{{device}}" data-key="{{key}}" data-type="{{type}}" data-unit="{{unit}}" value="{{value}}">
            <!--{{/unit}}-->
        </div>
    </div>
</div>

<div id="snippet_settings_notice">
    <div class="alert alert-warning fade in">
        <h4>{{configure_notice}}</h4>
    </div>
</div>

<div id="snippet_settings_buttons">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-2">
            <button type="button" class="configure_button btn btn-success btn-block btn-lg" data-demo="1">{{configure_demo}}</button>
        </div>
        <div class="col-sm-3 col-sm-offset-2">
            <button type="button" class="configure_button btn btn-success btn-block btn-lg" data-demo="0">{{configure_normal}}</button>
        </div>
    </div>
</div>


<div id="snippet_forward_buttons">
    <div class="btn-group btn-group-xs pull-right" data-toggle="buttons">
        <!--{{#buttons}}-->
        <button type="button" class="btn btn-default" value="{{value}}" data-toggle="button">
          <span class="glyphicon glyphicon-fast-forward"></span> {{text}}
        </button>
        <!--{{/buttons}}-->
    </div>
</div>

<div id="snippet_tech_live_diagram_filters">
    <!--{{#rows}}-->
    <br>
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="btn-group" data-toggle="buttons">
            <!--{{#filters}}-->
                <label class="btn btn-xs btn-default" style="color:{{color}};">
                    <input class="tech_live_data_filter_button" type="checkbox" value="{{id}}"> {{name}}
                </label>
            <!--{{/filters}}-->
            </div>
        </div>
    </div>
    <!--{{/rows}}-->
</div>

<div id="snippet_notification_list">
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>{{time}}</th>
            <th>{{threshold}}</th>
            <th>{{message}}</th>
          </tr>
        </thead>
        <tbody>
            <!--{{#notifications}}-->
            <tr>
                <td>{{id}}</td>
                <td>{{time}}</td>
                <td>{{threshold.name}}</td>
                <td>{{{message}}}</td>
            </tr>
            <!--{{/notifications}}-->
        </tbody>
      </table>
</div>

<div id="snippet_notification_threshold_list">
    <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>{{name}}</th>
            <th>{{sensor}}</th>
            <th>{{threshold_min}}</th>
            <th>{{threshold_max}}</th>
            <th>{{threshold_type}}</th>
            <th>{{threshold_show_managers}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <!--{{#thresholds}}-->
            <tr>
                <td>{{index}}</td>
                <td><a href="#" class="x_editable_name" data-type="text" data-pk="{{id}}" data-name="name" data-title="Enter threshold name">{{name}}</a></td>
                <td><a href="#" class="x_editable_sensor_list editable editable-click editable-open" data-type="select" data-pk="{{id}}" data-name="sensor_id" data-value="{{sensor_id}}" data-title="Select sensor">{{sensor_name}}</a></td>
                <td><a href="#" class="x_editable_values" data-type="text" data-pk="{{id}}" data-name="min_value" data-title="Enter minimal value">{{min_value}}</a></td>
                <td><a href="#" class="x_editable_values" data-type="text" data-pk="{{id}}" data-name="max_value" data-title="Enter maximal value">{{max_value}}</a></td>
                <td><a href="#" class="x_editable_category editable editable-click editable-open" data-type="select" data-pk="{{id}}" data-name="category" data-value="{{category}}" data-title="{{threshold_select_type}}">{{{category_html}}}</a></td>
                <td><a href="#" class="x_editable_show_manager editable editable-click editable-open" data-type="select" data-pk="{{id}}" data-name="show_manager" data-value="{{show_manager_value}}" data-title="{{threshold_show_managers}}">{{show_manager_text}}</a></td>
                <td><a href="#" class="edit_button"><a href="#" class="delete_button" data-threshold="{{id}}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <!--{{/thresholds}}-->
        </tbody>
    </table>
</div>