<div class="technician">
  <div id="panels">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{cogeneration_unit_diagrams}}</h4>
        </div>
        <div class="panel-body">
          <div id="cu_statistics_1"></div>
          <hr>
          <div id="cu_statistics_2"></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#cu_statistics_table">
              {{show_diagrams_in_table}}: {{cogeneration_unit}}
            </a>
           <a href="#" id="cu_export_button"><span class="glyphicon glyphicon-export pull-right"></span></a>
          </h4>
        </div>
        <div id="cu_statistics_table" class="panel-collapse collapse">
          <div class="panel-body"></div>
        </div>
      </div>
    </div>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{peak_load_boiler}} {{diagrams}}</h4>
        </div>
        <div class="panel-body">
          <div id="plb_statistics_1"></div>
          <hr>
          <div id="plb_statistics_2"></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#plb_statistics_table">
              {{show_diagrams_in_table}}: {{peak_load_boiler}}
            </a>
             <a href="#" id="plb_export_button"><span class="glyphicon glyphicon-export pull-right"></span></a>
            </h4>
        </div>
        <div id="plb_statistics_table" class="panel-collapse collapse">
          <div class="panel-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="manager">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{statistics}}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div id="diagram_container"></div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-6">
          <select id="series_left" class="series_list" data-target="left"></select>
          <select id="years_left" class="years_list" data-target="left"></select>
        </div>
        <div class="col-sm-6">
          <select id="series_right" class="series_list" data-target="right"></select>
          <select id="years_right" class="years_list" data-target="right"></select>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">{{overview}} {{table}} <a href="#" id="export_button"><span class="glyphicon glyphicon-export pull-right"></span></a></h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div id="mgmt_statistics_table_container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
