<!DOCTYPE HTML>
<html lang = "en">
<head>
	<title>ampelsteuerung</title>
	<meta charset = "UTF-8" />

	<link rel="stylesheet" type="text/css" href="/static/ampel_style.css" />
	<script src="/static/jquery-2.0.3.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$(document).ready(function() {

			$( ".greenBut" ).click( function() {
				if($('.greenBut').is(':checked')) 
					{ var newCheckStatus = 'on'; }
				else {
					var newCheckStatus = 'off';
				}
				$.post("/switch/",{color:'green', switchStatus:newCheckStatus});

			});

			$( ".redBut" ).click( function() {
				if($('.redBut').is(':checked')) 
					{ var newCheckStatus = 'on'; }
				else {
					var newCheckStatus = 'off';
				}
				$.post("/switch/",{color:'red', switchStatus:newCheckStatus});
		
			});
		

		});
	</script>

</head>
	<body>

	<h1>

	<span style="color:brown;font-style:italic;"> 
		<h1> Ampelsteuerung: Version 1.0 </h1></span>
	</h1> 

		<p> <a> Heute ist es {{ date }} </a> </p>
		<div class="onoffswitch test">
			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox redBut" id="redswitch" {{ checkStatusRed }}>
			<label class="onoffswitch-label" for="redswitch">
				<div  class="onoffswitch-inner red"></div>
				<div class="onoffswitch-switch"></div>
			</label>
		</div> 
		<p/>
		<div class="onoffswitch" >
			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox greenBut" id="greenswitch" {{ checkStatusGreen }}>
			<label class="onoffswitch-label" for="greenswitch">
				<div  class="onoffswitch-inner green"></div>
				<div class="onoffswitch-switch"></div>
			</label>
		</div>
	</body>


</html>